html
    head

        script
            include ../public/login.js

        title Login
        body
            h1 Login
            
            label Email
            input#email(type='email' placeholder='Enter Email')
            label Password               
            input#password(minLength=7 type='password' placeholder='Enter Password')
            button#submitLogin Submit