html
    title Movie Rentals

    style
       include ../public/homeThree.css

    script
        include ../public/newPatch.js

    body
        form#updateMovieForm
            input(placeholder='Enter a Movie Id', name='Id')
            input(placeholder='Enter a Movie Title', name='title')
            input(placeholder='Enter a Movie Poster Img Link', name='img', type='url')
            input(placeholder='Enter a Movie Imdb', name='imdb_link', type='url')
            input(placeholder='Enter a Movie Release Year', name='release', type='number', min='1900', max=new Date().getFullYear()+1)
            input(placeholder='Enter a Movie Order Quantity', type='number', min='0', name='available')





        button#submitMovie Update this Movie