.allMovies{
    display: flex;
    flex-wrap: wrap;
}

.movie {

    background-color: pink;

    margin-top: 2%,;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;

    display: flex;
    flex-direction: column;

    border: double 5px;
    border-radius: 17px;

    text-align: center;

    transition: all ease-in-out 1s;
    

}

.movie {
    transform: scale(1,1,1,1)

}

movie img {
    width: 200px;
    height: auto;
    margin-left: 3%;
    margin-right: 3%;
}

movie button {
    background-color: rgba(255, 150, 100, 0.5);
    opacity: 30%;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}